/* Mostrar el menu cuando el Checkbox es marcado */
#navbar-toggler-cbox:checked ~ .collapse {
  display: block;
}

/* El Checkbox es utilizado internamente, esconderlo */
#navbar-toggler-cbox {
  display:none
}

.barra-separadora {
  border-bottom: 0.05rem solid black;
}

.breadcrumb-item + .breadcrumb-item::before {
  content: ">";
}

@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

body {
  position: relative;
}

.volver-inicio-contenedor {
  position: absolute;
  top: 100vh;
  right: 3rem;
  bottom: 0em;
  width: 0em;
  pointer-events: none;
}

.volver-inicio-enlace {
  position: sticky;
  pointer-events: all;
  top: calc(100vh - 3rem);
  display: inline-block;
  text-decoration: none;
  font-size: 2rem;
  line-height: 2rem;
  text-align: center;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 100%;
  padding: 0.25rem;
  background-color: #ffffff;
}

.nav-item:hover{
  background: rgba(53, 53, 53, 0.1);
}

.active{
  background: rgba(53, 53, 53, 0.2);
}